*{
    box-sizing: border-box;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: orange;
    
}


.img-container{
    text-align: center;
    float: left;
    margin: 10% 0 10% 0;
 
}


img{
    width: 100%;
    height: 50%;
    padding-left: 2%;
}


.form-container{
    background-color: white;
    height: 150%;
    width: 100%;
    text-align: center;
    margin: 10% 0 10% 0;

}


h1{
    padding: 10% 0 2% 0;
    color: #ff8800;
}


h2{
    padding: 5%;
    color: red;
}


p input{
    display: block;
    border: none;
    border-bottom: 1px solid #00bfff;
    margin-left: 30%;
    padding: 3%;
       
}


p input:focus{
    border: 2px solid red;
}



a{
    padding-left: 2%;
}




.buttons{
    padding: 15%;
}



button{
    margin-right: 10px;
    color: white;
    background-color: #ff8800;
    border-radius: 12px;
    padding: 5px;
    width: 50%;
    
}



button:hover{
    background-color: white;
    color: black;
}










